@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ArticlesItem>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}


<h2>@Model.Value("title")</h2>
<p>@Model.Value("date")</p>
        
        
<div class="mainContent">
    <p>@Model.Value("mainContent")</p>
</div>
      
<div class="tags">
    <h3>Tags:</h3>         
    @if(Model.Tag.Any()){
        <ul>
            @foreach(var tag in Model.Tag){
            
                var taggedContent = Umbraco.TagQuery.GetContentByTag(@tag);
                
                <li>@tag
                
                    @foreach(var content in taggedContent){
                        <a href="@content.Url">@content.Name, </a>
                    }
                </li>
            }
        </ul>
    }
<div/>        


