@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web


@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@

@{ var selection = Model.Content.Root().Children.Where(x => x.IsVisible()).ToArray(); }
@{var root = Model.Content.Root();}

@if (selection.Length > 0)
{
    <ul class="nav nav-pills">
        
        <li class="nav-item">  
            <a class="nav-link @(Model.Content.Name == root.Name ? "active" : null)" href="/"> @Model.Content.Root().Name</a>
        </li>

   
    @foreach (var item in selection)
        {
        <li class="nav-item">
            <a class="nav-link @(Model.Content.Name == @item.Name ? "active" : null)"  href="@item.Url">@item.Name</a>
        </li>
        }
        
    @Umbraco.RenderMacro("ProjectsListDropdown")
    </ul>
}